@use "@/styles/var.scss" as *;

.buttons {
  display: flex;
  align-items: center;
  gap: convertRem(8);
}
.more {
  color: var(--text2);
}
.popover {
  min-width: 180px;
}
.alertMsg {
  color: var(--text2);
}
.primaryActions {
  display: flex;
  gap: convertRem(8);
}
