@use "@/app/styles/tokens.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: convertRem(24);
}

.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: convertRem(8);
}

.state {
  color: var(--text2);
}

.info {
  display: flex;
  flex-direction: column;
  gap: convertRem(8);
}

.nickname {
  display: flex;
  align-items: center;
  gap: convertRem(6);
}

.introduction {
  color: var(--text2);
}
