@use "sass:map";
@use "@/app/styles/tokens.scss" as *;
@use "@/app/styles/theme.scss";

@font-face {
  font-family: "Pretendard";
  font-weight: 45 920;
  font-display: swap;
  src: local("Pretendard Variable"),
    url("/fonts/PretendardVariable.woff2") format("woff2-variations");
  font-style: normal;
}

// a {
//   text-decoration: none;
//   color: inherit;
//   cursor: pointer;
// }

// button,
// input,
// textarea {
//   font: inherit;
//   color: inherit;
//   border: 0;
//   background: none;
//   box-sizing: border-box;
// }

button {
  &:enabled {
    cursor: pointer;
  }
  &:disabled {
    cursor: not-allowed;
  }
}
input {
  text-indent: 1em;

  &::placeholder {
    font-size: 0.9em;
  }
}
// img,
// svg {
// vertical-align: bottom;
// }
svg {
  display: inline-block;
}

textarea {
  resize: none;
}

.max-width {
  margin: auto;
  width: $maxWidth;
  max-width: calc(100% - $pad * 2);
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

body {
  line-height: 1.4;
  background-color: var(--app-background);
  color: var(--app-text1);
  font-family: "Pretendard", sans-serif;
}

#root {
  height: 100vh;
  display: flex;
}

.layout_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  max-width: calc(100% - ($pad * 2));
  width: convertRem(360);
  margin: 0 auto;

  .title {
    color: var(--text3);
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
  }
  .title_sub {
    margin-top: convertRem(10);
    font-size: convertRem(24);
    strong {
      font-weight: 700;
    }
  }
}

.sendbird-channel-list {
  .sendbird-channel-list__body > div {
    display: flex;
    flex-direction: column;
    gap: convertRem(10);
    padding: convertRem(10);
  }

  .pageContainer & {
    background: none;

    .sendbird-channel-list__body > div {
      padding: 0;
    }
  }

  .sendbird-channel-list__body > div > div:has([data-channel-type="MY"]) {
    order: -1 !important;
  }
}

/* 스크롤 이동 버튼 */
.sendbird-conversation__scroll-bottom-button {
  scale: 1;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
  pointer-events: auto;

  &:not(.show-scroll-button),
  &.hide-scroll-button {
    scale: 0.5;
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
  }
}
