@use "@/styles/var.scss" as *;

$bubbleLine: 3;
$bubbleHeight: 1.2;
.messageWrap {
  max-width: 50vw;
  text-align: center;
  width: convertRem(140);
  height: auto;
}

.talkBubble img {
  width: convertRem(180);
  max-width: 100%;
  height: auto;
}

img.emoticon {
  display: block;
  width: convertRem(140);
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.talkBubble {
  position: relative;
  font-size: 1vw;
  .innerText {
    color: $text;
    display: flex;
    align-items: center;
    justify-content: center;
    @include ellipsis($bubbleLine, $bubbleHeight);
    line-height: $bubbleHeight;

    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80%;
    height: auto;
    max-height: calc(1em * $bubbleLine * $bubbleHeight);

    text-wrap: balance;
    text-align: center;

    font-size: convertRem(12);
  }
}
