.unRead {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
.unRead.dot {
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
}

.unRead.dot span {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
