.total_view_wrap {
  text-align: right;
  margin-top: 10px;
  padding-top: 10px;
  cursor: pointer;
  display: flex;
  justify-content: end;
  align-items: center;
}

.viewModal {
  min-height: 500px;
  max-height: 700px;
  overflow: hidden;
  overflow-y: auto;
}

.register-date-btn {
  padding: 0;
  margin: 0;

  color: #7940ff;
  text-decoration: underline;
  font-weight: inherit;
  font-size: inherit;
  vertical-align: bottom;
}
