@use "sass:map";

@import "@/app/styles/tokens.scss";

.fileCard {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  display: inline-flex;
}

.textWrap {
  display: flex;
  flex-direction: column;
}

.text {
  display: inline-flex;
  gap: 4px;
}

.fileName {
  font-weight: 600;
}

.extension {
  opacity: 0.7;
}

.size {
  font-size: 12px;
  opacity: 0.8;
}
