@use '@/styles/var.scss' as *;
.fileInput {
  flex-shrink: 0;
  width: convertRem(40);
  height: convertRem(40);
  aspect-ratio: 1;
  position: relative;

  border-radius: 50%;

  svg {
    width: 1.3em;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  label {
    cursor: pointer;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    svg path {
      transition: all 0.3s;
    }
    &:hover:not(:disabled) {
      svg path {
        stroke: var(--primary);
      }
    }
  }
  input {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    &:focus {
      outline: none;
    }
    &:focus-visible + label {
      outline: -webkit-focus-ring-color auto 1px;
    }
  }
}
