@use "@/styles/var.scss" as *;

.primary {
  color: var(--primary);
  margin: 0 auto;
}

.error {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  align-items: center;
  color: var(--text2);
}

.content {
  min-height: min(400px, 50vh);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: convertRem(40);
}

.footer {
  width: 100%;
}
