@use "@/styles/var.scss" as *;

$size: convertRem(16);
.searchWrap {
  position: relative;

  .searchIcon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #9ca3af;
    width: $size;
    height: $size;
    z-index: 1;
  }

  .searchInput {
    padding: 0 convertRem(20);
  }

  .clearBtn {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text3);
    transition: all 0.3s;
    &:hover {
      color: var(--error);
    }
    z-index: 1;

    svg {
      width: $size;
      height: $size;
    }
  }
}
