@use '@/styles/var.scss' as *;
.more {
  width: 100%;
  padding: 0.5em 0;
  margin-top: 0.5em;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid var(--border);
  text-align: left;
  color: var(--text2);
}

.msg {
  @include ellipsis(20);
}
