@use "@/app/styles/tokens.scss" as *;
.icon svg {
  width: 2em;
  height: auto;
  path {
    stroke: var(--primary-active);
    stroke-width: convertRem(1.5);
  }
}

.fileCard {
  display: flex;
  align-items: center;
  gap: 1em;
}

.textWrap {
  line-height: 1.4;
  .text {
    display: flex;
    align-items: center;
    gap: 0;
    .fileName {
      @include ellipsis(1, 1.4);
    }
    .extension {
      flex-shrink: 0;
    }
  }
  .size {
    color: var(--text3);
    font-size: 0.9em;
  }
}
