@use "@/app/styles/tokens.scss" as *;
.selectedList {
  display: flex;
  align-items: center;
  gap: 0.8em;
  overflow-x: auto;
  padding: 0.3em 0;
  margin-top: 0.5em;

  .selected {
    position: relative;

    .removeBtn {
      position: absolute;
      top: -0.3em;
      right: -0.3em;

      background-color: var(--border);
      border-radius: 50%;
      width: 1.5em;
      height: 1.5em;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        transition: all 0.3s;
        width: convertRem(14);
        height: convertRem(14);
      }
      &:hover {
        svg {
          color: var(--error);
        }
      }
    }
  }
}

.nodata {
  height: 6em;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5em;
  color: var(--text2);
  svg {
    width: convertRem(36);
    height: convertRem(36);
  }
}

.dialogFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.title {
  font-size: convertRem(14);

  strong {
    color: var(--primary);
  }
}

.friendsList {
  // "flex-1 overflow-y-auto"

  flex-grow: 1;
  overflow-y: auto;

  .item {
    // "flex items-center space-x-3 p-2 rounded-lg hover:bg-gray-50"
    display: flex;
    align-items: center;
    border-radius: $borderRadius;

    padding: 0.5em 1em;
    transition: all 0.3s;

    &:hover {
      background-color: var(--primary-bg1);
    }
  }
}
