@use "@/app/styles/tokens.scss" as *;
.card {
  width: convertRem(240);
  background-color: var(--background-dark1);

  border-radius: $borderRadius * 2;
  overflow: hidden;

  font-size: 0.9em;
  text-align: left;
  img {
    width: 100%;
    aspect-ratio: 120/63;
    object-fit: cover;
  }
  .content {
    padding: 1em;

    .title {
      font-weight: 500;
    }
    .description {
      color: var(--text2);
      font-size: 0.9em;

      @include ellipsis(2);
      height: auto;
    }
    .url {
      font-size: 0.9em;
      margin-top: 1em;
      color: var(--text3);
      word-break: break-all;
    }
  }
}
