@use "@/styles/var.scss" as *;

.header,
.mobileHeader {
  background-color: var(--background-dark1);
  position: relative;
  z-index: 40;
  .inner {
    height: 100%;
    display: flex;
    gap: convertRem(10);
    align-items: center;
    justify-content: space-between;
    max-width: $maxWidth;
    margin: 0 auto;

    .flexWrap {
      display: flex;
      align-items: center;
      gap: convertRem(10);
    }
  }
  a,
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);

    border-radius: $borderRadius;
    width: convertRem(48);
    height: convertRem(48);
    font-size: convertRem(10);
    padding: 0;
    position: relative;
  }

  .unreadBadge {
    position: absolute;
    top: convertRem(-5);
    right: convertRem(-5);
  }
}

.mobileHeader {
  padding: convertRem(10) convertRem(20) convertRem(20);
}
.header {
  padding: convertRem(20) convertRem(10);

  .inner {
    flex-direction: column;

    .flexWrap {
      flex-direction: column;
    }
  }
}
