@use "@/app/styles/tokens.scss" as *;

.header {
  padding: convertRem(10) 0;
  border-bottom: 1px solid var(--app-border);

  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--app-text1);
  color: var(--app-background);
  border-radius: 2em;
  height: convertRem(32);
  padding: 0 1.2em;
  font-size: convertRem(14);
}
