.chat_message_content_wrap {
  margin-bottom: 9px;
  display: block;
  text-align: center;
}

.chat_message {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.4);
  word-break: keep-all;
  text-wrap: balance;
}
