@use "@/styles/var.scss" as *;

$gap: convertRem(6);
.drawerContent {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  border: 0;
  // position: relative;
  .drawerHeader {
    border-bottom: 1px solid var(--border);
    margin-bottom: convertRem(12);
    h2 {
      color: var(--text);
    }
    p {
      color: var(--text2);
    }
  }

  .drawerBody {
    flex-grow: 1;
    overflow-y: auto;

    h3 {
      padding: 0.4em 0;

      display: flex;
      gap: $gap;

      svg {
        width: 1.2em;
        height: 1.2em;
      }
    }
  }
}
.drawerBody {
  .gap {
    height: convertRem(10);
    background-color: var(--background-dark1);
    border: 1px solid var(--border);
    border-width: 1px 0;
    margin: convertRem(16) 0;
  }

  position: relative;

  .pad {
    padding: 0 convertRem(16);
  }
}
.drawerFooter {
  display: flex;
  flex-direction: row;
  align-items: center;

  & > div {
    margin: auto 0 auto auto;

    display: flex;
    align-items: center;
  }
}

.addBtn {
  display: flex;
  align-items: center;
  margin-bottom: $gap;

  gap: 1em;
  svg {
    width: convertRem(40);
    height: convertRem(40);
    padding: 0.6em;
    background: var(--border);

    path {
      stroke-width: 0.15em;
    }

    border-radius: 50%;
  }
}
.closeBtn {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.titleBtn {
  width: 100%;
  text-align: left;
  height: convertRem(32);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .right {
    color: var(--text3);
  }
}
// 미리보기
.imgWrap,
.fileWrap {
  display: grid;
  gap: convertRem(4);

  li {
    border-radius: $borderRadius;
    overflow: hidden;
    border: 1px solid var(--border);
  }
}

.imgWrap {
  grid-template-columns: repeat(4, 1fr);

  li {
    aspect-ratio: 1;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.fileWrap {
  grid-template-columns: repeat(2, 1fr);

  li {
    padding: convertRem(10);
  }
}

.primary {
  color: var(--primary);
}
