@use "@/styles/var.scss" as *;
.circle {
  position: relative;
  flex-shrink: 0;
  width: convertRem(56);
  aspect-ratio: 1;
  border-radius: 50%;

  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.group2,
.group3,
.group4 {
  flex-shrink: 0;
  width: convertRem(56);
  height: convertRem(56);

  padding: 2px 0 0 2px;
  position: relative;

  .circle {
    outline: 2px solid var(--background);

    [class*="item"][class*="active"] & {
      outline: 2px solid var(--primary-bg1);
    }
  }
}
.group2 {
  .circle {
    width: convertRem(36);
    height: convertRem(36);

    &:last-child {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
.group3 {
  overflow: hidden;
  .circle {
    width: convertRem(32);
    height: convertRem(32);

    &:nth-child(1) {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }

    &:nth-child(2) {
      position: absolute;
      bottom: 0;
      left: 0;
    }
    &:nth-child(3) {
      position: absolute;
      bottom: 0;
      right: 0px;
    }
  }
}
.group4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .circle {
    width: convertRem(30);
    height: convertRem(30);

    margin-left: -2px;
    margin-top: -2px;

    &:nth-child(3),
    &:nth-child(4) {
      margin-top: -4px;
    }

    &:nth-child(2),
    &:nth-child(4) {
      margin-left: -4px;
    }
  }
}
