@use "@/styles/var.scss" as *;

.profileCard {
  cursor: pointer;
  border-radius: $borderRadius;

  display: flex;
  align-items: center;
  text-align: left;
  gap: 1em;

  width: 100%;

  .profileImg {
    aspect-ratio: 1;

    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
  }

  .nickName:not(.talk) {
    font-weight: 600;
  }
  .message {
    color: var(--text2);
    font-size: 0.85em;
  }
}

.horizon {
  flex-direction: column;
  width: convertRem(60);
  gap: 0;
  align-items: center;
  .nickName {
    @include ellipsis;
  }
}

.nickName.talk {
  display: flex;
  align-items: center;
  gap: 0.4em;
}
.master {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: convertRem(4);
  background-color: var(--master);
  width: convertRem(20);
  height: convertRem(20);

  svg {
    color: var(--background);
    path {
      fill: var(--background);
    }
  }
}
