@use "@/styles/var.scss" as *;
.button {
  width: convertRem(36);
  height: convertRem(36);
  border-radius: $borderRadius;

  padding: convertRem(8);
  box-sizing: border-box;

  transition: background 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 100%;
    height: 100%;
    transition: color 0.3s;
  }

  &:not(:disabled) {
    &:hover {
      background-color: var(--primary-bg1);
      svg {
        color: var(--primary);
      }
    }
    &:active {
      background: var(--primary-bg1-dark);
    }
  }
}
