@use "@/app/styles/tokens.scss" as *;
$width: 140;
.header {
  padding: 12px 12px;
}
.container {
  width: 100%;
  margin-top: 12px;
  display: flex;
  gap: convertRem(32);
  align-items: flex-start;

  .profileContainer {
    flex-shrink: 0;
  }
}

// 프로필
.profileContainer {
  width: convertRem($width);
  height: convertRem($width);

  position: relative;

  // 이미지
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  // 상태메시지
  .state {
    position: absolute;
    top: 20%;
    right: 20%;
    transform: translate(100%, -100%);

    word-break: keep-all;
    width: fit-content;
    max-width: 15em;
    border: 1px solid var(--border);
    background: var(--background);
    padding: 0.5em 1em;
    border-radius: 1em 1em 1em 0;
    font-size: 0.85em;
  }
}

// info
.info {
  font-size: 0.85em;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  padding-top: 2.4em;

  .nickname {
    font-weight: 600;
    font-size: 1.4em;
    line-height: 1.4;
    display: flex;
    align-items: center;
    gap: 0.4em;
  }

  .introduction {
    color: var(--text2);
    @include ellipsis;
  }

  p {
    display: flex;
    align-items: center;
    gap: 0.4em;

    svg {
      width: 1.4em;
      height: 1.4em;
    }
  }
}
