@use "@/app/styles/tokens.scss" as *;

.notiCard {
  padding: 1em;
  border: 1px solid var(--border);
  border-radius: $borderRadius;

  display: flex;
  align-items: flex-start;

  .contents {
    flex-grow: 1;
    .notiTitle {
      font-weight: 600;
    }
    .notiMessage {
      margin: 0.5em 0 1em;
    }
    .notiMessage,
    .notiDate {
      color: var(--text2);
      font-size: 0.85em;
    }

    .notiDate {
    }
  }
  .buttons {
    width: convertRem(80);
    flex-shrink: 0;
    text-align: right;
  }

  &.read {
    background-color: var(--background-dark1);
    opacity: 0.6;
  }
}
