@use '@/styles/var.scss' as *;
.preview {
  object-fit: cover;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  // border: 4px solid red;

  width: convertRem(56);
  height: convertRem(56);
  aspect-ratio: 1;

  border: 1px solid var(--border);
  border-radius: $borderRadius;
  background-color: var(--background);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
